body{
    background-color: #344a72;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.signup-box{
    width:360px;
    height:620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

h1{
    text-align: center;
    padding-top: 15px;
  font-family: 'Trebuchet Ms';
  margin-bottom: 5px;
}
h4{
    text-align: center;
  margin-top: 2px;
  font-weight: lighter;
  font-size: 14px;
  padding-bottom: 15px;
}
form{
    width:300px;
    margin-left: 20px;
}
form label{
    display:flex;
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 15px;
  font-weight: bold;
  font-family: 'Trebuchet MS';
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
button{
  width: 320px;
  height: 30px;
  margin-top: 20px;
  border: none;
  background-color: teal;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
}
button:hover {
  background-color: #84EE8C;
}
p{
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
}
.para-2{
    text-align:center;
    color: white;
  margin-top: 1px;
}
.an {
  text-decoration: none;
  color: #90EE90;
}
::placeholder {
  color: #c0c0c073;
}
